* {
    margin: 0;
    padding: 0;
}


.cabecalho {
    background-color: #0324e4;
    color: #110f0f;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
}

.cabecalho-imagem {
    width: 20%;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 18px;
    font-size: 25px;
}

.escola-imagem {
    width: 22%;

}

.escola {
    background-image: linear-gradient(#072fe4, #004ff8);
    color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 29%px;
}

.escola-titulo {
    font-size: 49%px;
    padding: 24px;
    text-align: center;
}   
    
 .estudante-icone{
    width: 35px;
 }









