*{ margin: 0;
padding: 0;
}     
     
     
.cabecalho{
    background-color: #383D58;
    color: #ff0000;
    display: flex;
    justify-content: space-around;
align-items: center;
padding: 24px;
}

.cabecalho-imagem{
width: 20%;     
}

.cabecalho-lista-item{ 
display: inline-block;
margin: 0 16px;
font-size: 25px;
} 

.escola-imagem{
    width: 22%;

} 
.escola{
   background-image: linear-gradient(#00ffff,#004ff8);
   color: #004ff8;
   display: flex;
   justify-content:center;
    align-items: ;
   padding: 29%px;
}

 .escola-titulo{
     ont-size: 49%px;
 }   








